@import "../../../assets/shared/variables";

.page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    .messange {
        font-size: xxx-large;
        font-weight: 600;
        line-height: 28px;

        :first-child {
            color: $purple-color;
        }
    }
}