@import "../../../assets/shared/pages";

.info-modal-wrapper {
    position: absolute;

    .text-info {
        text-align: center;
        margin: 0;
        font-weight: 500;
        font-size: 64px;
    }
}