@import "./assets/shared/variables";
@import "./assets/shared/mixins";

@font-face {
    font-family: "Code Pro";
    src: url("./assets/fonts/code_pro.otf");
    font-weight: normal;
    font-style: normal;
}

html {
    *, *:before, *:after {
        box-sizing: border-box;
        font-family: "Code Pro";
    }

    body {
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin: 0;
        background-color: $white-color;

        &.full-screen {
            zoom: 100%;
        }

        &.quarter-screen {
            zoom: 25%;
        }

        &.not-scroll {
            overflow: hidden !important;
        }

        app-root {
            display: flex;
            flex-direction: column;
            flex: 1 1 1px;

            .page-wrapper {
                &.auth-page-wrapper {
                    @include circle($mother-pearl-night-color);
                }
            }

            .content-body {
                &.full-screen {
                    zoom: 100%;
                }
        
                &.quarter-screen {
                    zoom: 25%;
                }
            }
        }
    }
}
