@import "../../../../assets/shared/variables";

.card-wrapper {
    .game-object-wrapper {
        align-items: center;
        justify-content: center;
    
        .game-object-name-wrapper {
            transform: rotate(135deg);
    
            .game-object-name {
                font-weight: 700;
                font-size: 96px;
            }
        }
    }
}