@import "../../../../assets/shared/variables";

.card-wrapper {
    .cell-wrapper {
        align-items: center;
        justify-content: center;
    
        .cell-name-wrapper {
            transform: rotate(135deg);
    
            .cell-name {
                font-weight: 700;
                font-size: 96px;
            }
        }
    }
}