<div class="auth-page-wrapper">
    <div class="auth-form-wrapper">
        <form [formGroup]="loginForm" (submit)="signIn()" class="form">
            <span class="title">ВОЙТИ</span>
            <div class="inputs-wrapper">
                <input id="userName" type="text" formControlName="userName" placeholder="ИМЯ ПОЛЬЗОВАТЕЛЯ">
                <input id="password" type="password" formControlName="password" placeholder="ПАРОЛЬ">
            </div>
            <button type="submit" class="submit-btn" [disabled]="!loginForm.valid">Отправить</button>
            <a class="page" [routerLink]="['/sign-up']">РЕГИСТРАЦИЯ</a>
          </form>
    </div>
</div>