@import "../assets/shared/variables";

.content-body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1 1 1px;
    position: relative;
    background-color: $white-color;

    .content {
        z-index: $z-index-content;
        position: relative;
        overflow: auto;
    }
}