@import "../../../../assets/shared/variables";

$street-color: var(--street-color);

.card-wrapper {
    .game-object-wrapper {
        .game-object-icon {
            fill: $street-color;
        }

        .game-object-icon {
            margin-bottom: calc($game-object-icon-matgin / 2);
        }

        .houses-wrapper {
            display: flex;
            height: 64px;
            align-items: center;
            margin-bottom: calc($game-object-icon-matgin / 2);

            .game-object-icon {
                margin-bottom: 0;
            }

            .count {
                margin: 0;
                font-weight: 500;
                font-size: 48px;
            }
        }
    }
}