$purple-color: #6C5FBC;
$grey-color: #CBCBCB;
$white-color: #F9F9F9;
$platinum-color: #EAEAEA;
$pearl-dark-grey-color: #818181;
$dull-grey: #676767;

$desktop: "only screen and (max-width: 1440px)";
$tablet: "only screen and (max-width: 1024px)";
$mobile: "only screen and (max-width: 375px)";

$z-index-conten: 10;
$z-index-layout-elements: 20;

$header-height: 134px;
$mobile-header-height: 105px;