$purple-color: #6C5FBC;
$grey-color: #CBCBCB;
$white-color: #F9F9F9;
$black-color: #202020;
$pearl-dark-grey-color: #818181;
$dark-purple-blue-color: #1a1a2e;
$marengo-color: #4D4D63;
$gentian-blue-color: #13294C;
$mother-pearl-night-color: #0E325E;

$desktop: "only screen and (max-width: 1440px)";
$tablet: "only screen and (max-width: 1024px)";
$mobile: "only screen and (max-width: 375px)";

$border-card-width: 5px;

$z-index-content: 10;
$z-index-layout-elements: 20;

$header-height: 134px;
$mobile-header-height: 105px;

$street-card-height: 600px;
$street-card-width: 392px;
$card-width: 600px;