<header [class.with-submenu]="isMenuOpen">
    <nav class="pages-wrapper">
        <ul class="pages-list">
            <li class="page-wrapper">
                <a class="page" [routerLink]="['/login']">ВОЙТИ</a>
            </li>
            <li class="page-wrapper">
                <a class="page" [routerLink]="['/sign-up']">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            </li>
        </ul>
    </nav>
    <div class="mobile-menu-wrapper">
        <app-mobile-header></app-mobile-header>
    </div>
</header>