<header [class.with-submenu]="isMenuOpen">
    <nav class="pages-wrapper" *ngIf="!appState.authState.isSignedIn else isSignedIn">
        <ul class="pages-list">
            <li class="page-wrapper">
                <a class="page" [routerLink]="['/login']">ВОЙТИ</a>
            </li>
            <li class="page-wrapper">
                <a class="page" [routerLink]="['/sign-up']">ЗАРЕГИСТРИРОВАТЬСЯ</a>
            </li>
        </ul>
    </nav>
    <ng-template #isSignedIn>
        <button (click)="signOut.emit()" class="sign-out-btn page">
            ВЫЙТИ
        </button>
    </ng-template>
    <div class="mobile-menu-wrapper">
        <app-mobile-header (signOut)="signOut.emit()"></app-mobile-header>
    </div>
</header>