@import "../../../../../assets/shared/variables";

$player-color: var(--player-color);
$player-top: var(--player-top);

.player-wrapper {
    display: flex;

    .player {
        cursor: pointer;
        display: flex;
        height: 100%;
        width: 100%;
        border: 1px solid $player-color;
        order: $player-top;

        .name {
            font-size: 10rem;
            margin: 0;
        }

        &:hover {
            z-index: 100;
        }
    }
}