@import "../../../../assets/shared/variables";

.card-wrapper {
    .cell-wrapper {
        align-items: center;
        justify-content: center;
    
        .rotate-wrapper {
            transform: rotate(-45deg);
            display: flex;
            flex-direction: column;
            align-items: center;
    
            .cell-name-wrapper {
                .cell-name {
                    font-weight: 700;
                    font-size: 54px;
                }
            }
        }
    }
}